.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top:150px ;
  }
.name{
  text-align: center;
  margin-bottom: 100px;
  font-size: 35px;
}
.icon {
  text-align: center;
  margin-bottom: 20px;
}
.title {
  color: #999;
  margin-bottom: 10px !important;
  padding-top: 10px;
}
.button {
  background-color: #7F56DA !important;
  height:50px;
 
}
.textfield {
  margin-bottom: 20px !important;
}
.bottom {
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 25px;
  
} 
.bottom Button {
  color: #999;
}
.bottom Button:hover {
  background-color: #fff;
} 
